<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chnage Password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script></head>
<body style="background-color: rgb(230, 230, 230);">
    <%- include("navbar.ejs"); %> 
    <div class="d-flex justify-content-center align-items-center bg-transparent py-5" style="overflow: auto ;height: calc(92vh - 1px)">
        <form method="POST" class="bg-white shadow-lg" style="margin: auto; max-width: 600px; width: 100%; border-radius: 1em;" action="/authentication/changePassword" onsubmit="return submitForm(this)" onchange="validate(this);document.getElementById('submit').classList.remove('disabled')" onkeyup="validate(this);document.getElementById('submit').classList.remove('disabled')">
            <div class="fs-1 fw-bolder p-5">Change Password</div>
            <hr class="divider m-0">
            <div class="card-body p-5">
                <div class="mb-3">
                    <label class="form-label" for="userName">
                        Username:
                    </label>
                    <div class="input-group">
                        <label class="input-group-text" for="userName">@</label>
                        <input class="form-control" id="userName" placeholder="Username" name="userName">
                        <div></div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">
                        Old Password:
                    </label>
                    <div class="input-group">
                        <label class="input-group-text" for="password"><i class="bi bi-lock"></i></label>
                        <input class="form-control" id="password" placeholder="Old Password" name="password" type="password">
                        <div></div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="newpassword">
                        New Password:
                    </label>
                    <div class="input-group">
                        <label class="input-group-text" for="newpassword"><i class="bi bi-lock"></i></label>
                        <input class="form-control" id="newpassword" placeholder="New Password" name="newpassword" type="password">
                        <div></div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="cnewpassword">
                        Confirm New Password:
                    </label>
                    <div class="input-group">
                        <label class="input-group-text" for="cnewpassword"><i class="bi bi-lock"></i></label>
                        <input class="form-control" id="cnewpassword" placeholder="Confirm New Password" name="cnewpassword" type="password">
                        <div></div>
                    </div>
                </div>
                <div class="mt-5">
                    <input class="btn btn-success" type="submit" id="submit" value="Reset Password">
                    <input class="btn btn-danger float-end" type="reset" value="Reset">
                </div>
            </div>
            <hr class="divider my-0">
            <div class="text-center p-3">
                <div>Already have an account? <a href="/login">Login here</a></div>
                <div>Don't have an account? <a href="/register">Sign-up here</a></div>
                <div>Forgot password? <a href="/resetPassword">Reset here</a></div>
            </div>             
        </form>
        <div id="toasts" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">

        </div>
    </div>
        <%- include("footer.ejs") %> 
</body>
<script>
    function copy(text,btn){
        navigator.clipboard.writeText(text);
        btn.title="Password Copied to Clipboard"
        btn.classList.remove("bi-clipboard")
        btn.classList.add("bi-clipboard-check")
    }
    toastid=0
    function validatePassword(password){
        err=""
        if(password.length<8){
            err+="Password must have atleast 8 characters<br>"
        }
        if(password.match(/.*[a-z]+.*/)==null){
            err+="Password must have atleast 1 Lowercase character<br>"
        }
        if(password.match(/.*[A-Z]+.*/)==null){
            err+="Password must have atleast 1 Uppercase character<br>"
        }
        if(password.match(/.*[\d]+.*/)==null){
            err+="Password must have atleast 1 Number<br>"
        }
        if(password.match(/.*[ !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]+.*/)==null){
            err+=`Password must have atleast 1 Special character( !"#$%&'()*+,-./:;<=>?@[\]^_\`{|}~)<br>`
        }
        return err
    }
    function validate(data){
        data=Object.fromEntries(new FormData(data))
        out=true
        if(data["userName"]==undefined||data["userName"]==""){
            out=out&&false
            temp=document.getElementById("userName").nextSibling.nextSibling
            temp.innerHTML="User Name can't be empty"
            temp.classList.add("invalid-feedback")
            temp.classList.remove("valid-feedback")
            document.getElementById('userName').classList.remove("is-valid")
            document.getElementById('userName').classList.add("is-invalid")
        }else{
            data["userName"]=data["userName"].replace(/[ ]{2,}/g,' ')
            out=out&&true
            temp=document.getElementById("userName").nextSibling.nextSibling
            temp.innerHTML="Looks fine"
            temp.classList.remove("invalid-feedback")
            temp.classList.add("valid-feedback")
            document.getElementById('userName').classList.remove("is-invalid")
            document.getElementById('userName').classList.add("is-valid")
        }
        if(data["newpassword"]==undefined||data["newpassword"]==""){
            out=out&&false
            temp=document.getElementById("newpassword").nextSibling.nextSibling
            temp.innerHTML="Password can't be empty"
            temp.classList.add("invalid-feedback")
            temp.classList.remove("valid-feedback")
            document.getElementById('newpassword').classList.remove("is-valid")
            document.getElementById('newpassword').classList.add("is-invalid")
        }else{
            err=validatePassword(data["newpassword"])
            if(err==""){
                out=out&&true
                temp=document.getElementById("newpassword").nextSibling.nextSibling
                temp.innerHTML="Looks fine"
                temp.classList.remove("invalid-feedback")
                temp.classList.add("valid-feedback")
                document.getElementById('newpassword').classList.remove("is-invalid")
                document.getElementById('newpassword').classList.add("is-valid")
            }else{
                out=out&&false
                temp=document.getElementById("newpassword").nextSibling.nextSibling
                temp.innerHTML=err
                temp.classList.add("invalid-feedback")
                temp.classList.remove("valid-feedback")
                document.getElementById('newpassword').classList.remove("is-valid")
                document.getElementById('newpassword').classList.add("is-invalid")
            }
        }
        if(data["cnewpassword"]==undefined||data["cnewpassword"]==""){
            out=out&&false
            temp=document.getElementById("cnewpassword").nextSibling.nextSibling
            temp.innerHTML="Confirm password can't be empty"
            temp.classList.add("invalid-feedback")
            temp.classList.remove("valid-feedback")
            document.getElementById('cnewpassword').classList.remove("is-valid")
            document.getElementById('cnewpassword').classList.add("is-invalid")
        }else{
            data["cnewpassword"]=data["cnewpassword"].replace(/[ ]{2,}/g,' ')
            temp=document.getElementById("cnewpassword").nextSibling.nextSibling
            if(document.getElementById("cnewpassword").value!=document.getElementById("newpassword").value){
                out=out&&false
                temp.innerHTML="Passwords did not match"
                temp.classList.add("invalid-feedback")
                temp.classList.remove("valid-feedback")
                document.getElementById('cnewpassword').classList.remove("is-valid")
                document.getElementById('cnewpassword').classList.add("is-invalid")
            }else{
                out=out&&true
                temp.innerHTML="Looks fine"
                temp.classList.remove("invalid-feedback")
                temp.classList.add("valid-feedback")
                document.getElementById('cnewpassword').classList.remove("is-invalid")
                document.getElementById('cnewpassword').classList.add("is-valid")
            }
        }
        return out
    }
    function submitForm(item){
        document.getElementById('submit').blur();
        try{
            validation=validate(item)
            if(!validation){
                document.getElementById("toasts").innerHTML+=`
                        <div id="toast_${toastid}" class="toast fade" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <i class="bi bi-exclamation-circle text-danger me-2"></i>
                                <strong class="me-auto text-danger">Change Password Error</strong>
                                <button type="button" class="btn-close" aria-label="Close" onclick="deleteToast('toast_${toastid}')"></button>
                            </div>
                            <div class="toast-body text-danger">
                                Couldn't Change Password because of invalid inputs.
                            </div>
                        </div>
                        `
                temp=new bootstrap.Toast(document.getElementById(`toast_${toastid}`),{autohide: false})
                temp.show()
                document.getElementById("submit").classList.add("disabled")
                return false
            }
            var data = Object.fromEntries(new FormData(item))
            var req = new XMLHttpRequest();
            req.open("POST",item.action,true);
            req.setRequestHeader("content-type","application/json")
            req.upload.addEventListener("progress", async function(evt) {
                if (evt.lengthComputable) {
                    percentComplete = evt.loaded / evt.total;
                    percentComplete = percentComplete*100;
                }
                }, false);
            req.send(JSON.stringify(data))
            req.onloadend = async () => {
                out=await JSON.parse(req.responseText)
                console.log(out)
                if(out["error"]!=undefined){
                    await document.getElementById("userName").classList.remove("is-valid")
                    await document.getElementById("password").classList.remove("is-valid")
                    await document.getElementById("userName").classList.add("is-invalid")
                    await document.getElementById("password").classList.add("is-invalid")
                    document.getElementById("toasts").innerHTML+=`
                    <div id="toast_${toastid}" class="toast fade" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <i class="bi bi-exclamation-circle text-danger me-2"></i>
                            <strong class="me-auto text-danger">Change Password Error</strong>
                            <button type="button" class="btn-close" aria-label="Close" onclick="deleteToast('toast_${toastid}')"></button>
                        </div>
                        <div class="toast-body text-danger">
                            ${out["error"]}
                        </div>
                    </div>
                    `
                    temp=await new bootstrap.Toast(document.getElementById(`toast_${toastid}`),{autohide: false})
                    await document.getElementById("submit").classList.add("disabled")
                    await temp.show()
                }else if(out["success"]!=undefined){
                    await document.getElementById("userName").classList.remove("is-invalid")
                    await document.getElementById("password").classList.remove("is-invalid")
                    await document.getElementById("userName").classList.add("is-valid")
                    await document.getElementById("password").classList.add("is-valid")
                    document.getElementById("toasts").innerHTML+=`
                    <div id="toast_${toastid}" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <i class="bi bi-check-circle text-success me-2"></i>
                            <strong class="me-auto text-success">Change Password Successful</strong>
                            <button type="button" class="btn-close" aria-label="Close" onclick="deleteToast('toast_${toastid}')"></button>
                        </div>
                        <div class="toast-body text-success">
                            ${out["success"]}
                        </div>
                    </div>
                    `
                    temp=await new bootstrap.Toast(document.getElementById(`toast_${toastid}`),{autohide: false})
                    await temp.show()
                    await document.getElementById("submit").classList.add("disabled")
                }
                toastid+=1
            }
        }catch(e){
            console.log(e)
        }
        return false
    }
</script>
</html>