<div class="footer contain-fluid bg-white px-5 py-3">
    <footer class="navbar border-top">
        <span class="col-md-4 mb-0 text-muted">© 2021 Burri Akhil Reddy</span>
    
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="/notice/noticeBoard" class="nav-link px-2 text-muted">Notice Board</a></li>
          <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">Contact</a></li>
        </ul>
    </footer>
</div>

<style>
    body{
        min-height: 100vh;
    }
    .footer{
        position: sticky;
        top: 100%;
    }
</style>