<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script></head>
<body style="background-color: rgb(230, 230, 230);">
    <%- include("navbar.ejs"); %> 
    <div class="d-flex justify-content-center align-items-center bg-transparent py-5" style="overflow: auto ;height: calc(92vh - 1px)">
        <form method="POST" class="bg-white shadow-lg" style="margin: auto; max-width: 600px; width: 100%; border-radius: 1em;" action="/authentication/resetPassword" onsubmit="return submitForm(this)" onchange="document.getElementById('submit').classList.remove('disabled')" onkeypress="document.getElementById('submit').classList.remove('disabled')">
            <div class="fs-1 fw-bolder p-5">Reset Password</div>
            <hr class="divider m-0">
            <div class="card-body p-5">
                <div class="mb-3">
                    <label class="form-label" for="userName">
                        Username:
                    </label>
                    <div class="input-group">
                        <label class="input-group-text" for="userName">@</label>
                        <input class="form-control" id="userName" placeholder="Username" name="userName">
                        <div></div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">
                        Email:
                    </label>
                    <div class="input-group">
                        <label class="input-group-text" for="email"><i class="bi bi-envelope"></i></label>
                        <input class="form-control" placeholder="Email" id="email" name="email">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="mobile">
                        Mobile:
                    </label>
                    <div class="input-group">
                        <label class="input-group-text" for="mobile"><i class="bi bi-phone"></i></label>
                        <input class="form-control" placeholder="Mobile" id="mobile" name="mobile">
                    </div>
                </div>
                <div class="mt-5">
                    <input class="btn btn-success" type="submit" id="submit" value="Reset Password">
                    <input class="btn btn-danger float-end" type="reset" value="Reset">
                </div>
            </div>
            <hr class="divider my-0">
            <div class="text-center p-3">
                <div>Already have an account? <a href="/login">Login here</a></div>
                <div>Don't have an account? <a href="/register">Sign-up here</a></div>
                <div>Know password? <a href="/changePassword">Change it here</a></div>
            </div>             
        </form>
        <div id="toasts" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">

        </div>
    </div>
    <%- include("footer.ejs") %> 
</body>
<script>
    function copy(text,btn){
        navigator.clipboard.writeText(text);
        btn.title="Password Copied to Clipboard"
        btn.classList.remove("bi-clipboard")
        btn.classList.add("bi-clipboard-check")
    }
    toastid=0
    function submitForm(item){
        document.getElementById('submit').blur();
        try{
            var data = Object.fromEntries(new FormData(item))
            var req = new XMLHttpRequest();
            req.open("POST",item.action,true);
            req.setRequestHeader("content-type","application/json")
            req.upload.addEventListener("progress", async function(evt) {
                if (evt.lengthComputable) {
                    percentComplete = evt.loaded / evt.total;
                    percentComplete = percentComplete*100;
                }
                }, false);
            req.send(JSON.stringify(data))
            
            req.onloadend = async () => {
                out=await JSON.parse(req.responseText)
                console.log(out)
                if(out["error"]!=undefined){
                    await document.getElementById("userName").classList.remove("is-valid")
                    await document.getElementById("email").classList.remove("is-valid")
                    await document.getElementById("mobile").classList.remove("is-valid")
                    await document.getElementById("userName").classList.add("is-invalid")
                    await document.getElementById("email").classList.add("is-invalid")
                    await document.getElementById("mobile").classList.add("is-invalid")
                    document.getElementById("toasts").innerHTML+=`
                    <div id="toast_${toastid}" class="toast fade" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <i class="bi bi-exclamation-circle text-danger me-2"></i>
                            <strong class="me-auto text-danger">Reset Password Error</strong>
                            <button type="button" class="btn-close" aria-label="Close" onclick="deleteToast('toast_${toastid}')"></button>
                        </div>
                        <div class="toast-body text-danger">
                            ${out["error"]}
                        </div>
                    </div>
                    `
                    temp=await new bootstrap.Toast(document.getElementById(`toast_${toastid}`),{autohide: false})
                    await document.getElementById("submit").classList.add("disabled")
                    await temp.show()
                }else if(out["success"]!=undefined){
                    await document.getElementById("userName").classList.remove("is-invalid")
                    await document.getElementById("email").classList.remove("is-invalid")
                    await document.getElementById("mobile").classList.remove("is-invalid")
                    await document.getElementById("userName").classList.add("is-valid")
                    await document.getElementById("email").classList.add("is-valid")
                    await document.getElementById("mobile").classList.add("is-valid")
                    document.getElementById("toasts").innerHTML+=`
                    <div id="toast_${toastid}" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <i class="bi bi-check-circle text-success me-2"></i>
                            <strong class="me-auto text-success">Password Reset Successful</strong>
                            <button type="button" class="btn-close" aria-label="Close" onclick="deleteToast('toast_${toastid}')"></button>
                        </div>
                        <div class="toast-body text-success">
                            ${out["success"]}<br>
                            Your new password is:<br>
                            <button onclick="copy('${out["password"]}',this)" class="btn btn-outline-secondary p-1 bi bi-clipboard me-2" title="copy password"></button><span class="text-primary">${out["password"]}</span><br>
                        </div>
                    </div>
                    `
                    temp=await new bootstrap.Toast(document.getElementById(`toast_${toastid}`),{autohide: false})
                    await temp.show()
                    await document.getElementById("submit").classList.add("disabled")
                }
                toastid+=1
            }
        }catch(e){
            console.log(e)
        }
        return false
    }
    function deleteToast(id){
        temp=new bootstrap.Toast(document.getElementById(id))
        temp.hide()
        setTimeout(()=>document.getElementById(id).remove(),1000)
    }
</script>
</html>